<!DOCTYPE html>
<html>
    <head>
        <title>Virtual Dressing Room</title>
        <link rel="stylesheet" href="second.css">
        <style>
           


        </style>
    </head>
    <body>
        <!--<div class="background-img"></div>-->
        <div class="hero">
          <div class="navbar">
            
          </div>
            
        </div>
        <div class="content">
            <h1>Virtual <br>Dressing Room</h1>
            <button onclick="window.location.href = 'http://127.0.0.1:5000';" class="button"> Take a tour</button>
            <!--<a href="http://127.0.0.1:5000">click header</a>-->
        </div>
        <div class="sidebar">
            <img src="images1/menu.png" class="menu">
            <div class="social-links">
                <img src="images1/fb.png">
                <img src="images1/ig.png">
                <img src="images1/tw.png">

            </div>

            <div class="useful-links">
                <img src="images1/share.png">
                <img src="images1/info.png">
                

            </div>


        </div>
        <div class="bubbles">
            <img src="images1/bubble.png" >
            <img src="images1/bubble.png" > 
            <img src="images1/bubble.png" > 
            <img src="images1/bubble.png" > 
            <img src="images1/bubble.png" > 
            <img src="images1/bubble.png" > 
            <img src="images1/bubble.png" >                                                                                  
        </div>
        



        <!--<a href="http://127.0.0.1:5000">click header</a>-->
    </body>

</html>